@model IEnumerable<Genre>;
@{
    ViewData["Title"] = "List of Genres";
}
<h1>@ViewData["Title"]</h1>
<a asp-action="Create" asp-controller="Genre">Add New Genre</a>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>
                    <a asp-action="Edit" asp-controller="Genre" asp-route-id="@item.Id">Edit</a>
                <a asp-action="Delete" asp-controller="Genre" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>