<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Movie Shop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MovieApp.WebMVC.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Movies" asp-action="Index">Movie Shop <i class="fa-solid fa-film"></i></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="genresDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        GENRES
                    </a>
                    @await Component.InvokeAsync("Genres")
                </div>

                <div class="ms-auto">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <!-- Admin Menu -->
                        @if (User.IsInRole("Admin"))
                        {
                            <div class="dropdown">
                                <a class="nav-link dropdown-toggle text-white d-flex align-items-center" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Admin
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                                    <li><a class="dropdown-item" href="@Url.Action("TopMovies", "Admin")">Top Movies</a></li>
                                    <li><a class="dropdown-item" href="@Url.Action("CreateMovie", "Admin")">Create Movie</a></li>
                                </ul>
                            </div>
                        }
                        <!-- User Menu -->
                        <div class="dropdown">
                            <a class="nav-link dropdown-toggle text-white d-flex align-items-center" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                @User.Identity.Name
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                                <li><a class="dropdown-item" href="@Url.Action("Movies", "User")">Movies</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("Favorites", "User")">Favorites</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("Profile", "User")">Account</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("Logout", "Account")">Logout</a></li>
                            </ul>
                        </div>
                    }
                    else
                    {
                        <a class="btn btn-outline-light me-2" href="@Url.Action("Login", "Account")" style="color: white;">Login</a>
                        <a class="btn btn-outline-light" href="@Url.Action("Register", "Account")" style="color: white;">Register</a>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Movie Shop - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
