@model ApplicationCore.Models.PaginatedList<ApplicationCore.Models.MovieCardModel>;
@{
    var controllerName = ViewContext.RouteData.Values["controller"].ToString();
    var actionName = ViewContext.RouteData.Values["action"].ToString();
    var genreId = ViewData["genreId"];
}

<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link" href="@Url.Action(actionName, controllerName, new { genreId = genreId, page = 1, pageSize = 20 })">««</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="@Url.Action(actionName, controllerName, new { genreId = genreId, page = Model.PageIndex - 1, pageSize = 20 })">«</a>
        </li>
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            if (i == Model.PageIndex)
            {
                <li class="page-item active">
                    <span class="page-link">@i</span>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link" href="@Url.Action(actionName, controllerName, new { genreId = genreId, page = i, pageSize = 20 })">@i</a>
                </li>
            }

            if (i >= 5 && i < Model.TotalPages - 1)
            {
                <li class="page-item disabled">
                    <span class="page-link">...</span>
                </li>
                <li class="page-item">
                    <a class="page-link" href="@Url.Action(actionName, controllerName, new { genreId = genreId, page = Model.TotalPages, pageSize = 20 })">@Model.TotalPages</a>
                </li>
                break;
            }
        }
        <li class="page-item">
            <a class="page-link" href="@Url.Action(actionName, controllerName, new { genreId = genreId, page = Model.PageIndex + 1, pageSize = 20 })">»</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="@Url.Action(actionName, controllerName, new { genreId = genreId, page = Model.TotalPages, pageSize = 20 })">»»</a>
        </li>
    </ul>
</nav>

